<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendering Lists</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
    </ul>
    <hr>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key) in person">{{ key }}: {{ value }} </div>
        </li>

    </ul>
    <hr>
    <template v-for="(ingredient, i) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ i }}</p>
    </template>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Max', age: 27, color: 'green'},
                {name: 'Pepe', age: 'unknown', color: 'red'}
            ]
        }
    });
</script>
</body>
</html>